- content_for :sidebar do
  = render :partial => 'chapters/sidebar', :locals => { :chapter => @chapter, :team => @team }

.row-fluid
  .span12
    %h1= icon_title_edit "Editing team for #{@team.event.name}"

.row-fluid
  .span12
    = render 'form'