- content_for :sidebar do
  = render :partial => 'chapters/sidebar', :locals => { :chapter => @chapter, :adviser => @adviser }

.row-fluid
  .span12
    %h1= icon_title_edit "Editing information for #{@adviser.name}"

.row-fluid
  .span12
    = render 'form'