- title 'New event'

- content_for :sidebar do
  = render :partial => 'admin/sidebar'

.row-fluid
  .span12
    %h1= icon_title_new 'Adding a new event'

.row-fluid
  .span12
    = render :partial => 'form'