- title "New student for #{@chapter.name}"

- content_for :sidebar do
  = render :partial => 'chapters/sidebar', :locals => { :chapter => @chapter, :student => @student }

.row-fluid
  .span12
    %h1= icon_title_new 'Adding a new student'

.row-fluid
  .span12
    = render 'form'