- title 'Register'

.container
  .row
    .spacer-medium

  .row
    .span6.offset3
      .row
        %h1= icon_title_new 'Register'

      - if flash[:error].present?
        .row
          %p#notice.alert.alert-error= icon_title 'remove', flash[:error]

      - if notice.present?
        .row
          %p#notice.alert.alert-success= icon_title 'ok', notice

      .row
        .form-description
          Apply to register your chapter for Business Skills Day 25. Once you register,
          an administrator will need to approve your account. A temporary password will be
          sent to the email provided below once your account is approved.

        = render 'form'

  .row
    .spacer-small
