@import 'asu_colors';

#main-image {
  background-color: black;
  text-align: center;

  img {
    height: 500px;
  }
}

#main-navigation {
  background-color: black;
  text-align: center;

  a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 30px 20px 30px;
    display: inline-block;

    box-shadow: inset #FFB310 0px 0px;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    
    &:hover {
      text-decoration: none;
      box-shadow: inset #FFB310 0px -6px;
    }
  }
}

.information {
  text-align: center;

  .title {
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  .description {
    font-size: 20px;
    line-height: 40px;
  }

  i {
    color: $asu-maroon;
    font-size: 80px;
    line-height: 80px;
  }

  &:hover {
    .title {
      color: $asu-maroon;
    }
  }
}

.main-section {
  padding: 40px 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 40px 0;
  color: black;

  &.grey {
    background-color: #f8f8f8;
  }
}

#advisers {
  .alert {
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }
}