@import 'asu_colors';

#main-image {
  background-color: black;
  text-align: center;

  img {
    height: 500px;
  }
}

#main-navigation {
  background-color: black;
  text-align: center;

  a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 30px 20px 30px;
    display: inline-block;

    box-shadow: inset #FFB310 0px 0px;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    
    &:hover {
      text-decoration: none;
      box-shadow: inset #FFB310 0px -6px;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      margin: 0;
      border-radius: 0;
      border: none;
      background: #222;
      text-align: left;

      a {
        text-transform: none;
        font-weight: normal;
        display: block;
        padding: 5px 15px;

        &:hover {
          box-shadow: none;
          background-image: none;
        }
      }
    }

    &:hover {
      & > a {
        text-decoration: none;
        box-shadow: inset #FFB310 0px -6px;
      }

      .dropdown-menu {
        display: block;
      }
    }
  }
}

.information {
  text-align: center;

  .title {
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  small {
    display: block;
    text-transform: uppercase;
    color: #888;
    text-align: center;
  }

  .description {
    font-size: 20px;
    line-height: 40px;
  }

  i {
    color: $asu-maroon;
    font-size: 80px;
    line-height: 80px;
  }

  &:hover {
    .title {
      color: $asu-maroon;
    }
  }
}

.main-section {
  padding: 40px 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 40px 0;
  color: black;

  &.grey {
    background-color: #f8f8f8;
  }
}

#about {
  padding-bottom: 0;

  .row {
    margin-bottom: 20px;
  }

  #about-events {
    table.table.table-hover {
      width: 100%;

      th.events-written {
        width: 50%;
      }

      th.events-performance {
        width: 50%;
      }

      tr:hover > td {
        color: $asu-maroon;
        background-color: white;
      }
    }
  }
}

#parking {
  .information {
    padding-bottom: 20px;
  }

  .asu-map {
    border: 1px solid #888;
  }
}

#registration {
  .well {
    background-color: white;
  }
  .alert {
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }
}

#partners {
  .span3 {
    height: 100px;
    padding: 20px 0;
    line-height: 100px;
  }
}

#schedule {
  .notice {
    text-align: center;
    font-style: italic;
    padding: 10px 0;
  }

  table.table.table-hover {
    width: 100%;

    td.schedule-event {
      text-align: left;
      font-weight: bold;

      &:after {
        content: ':';
      }
    }

    tr:hover > td {
      color: $asu-maroon;
      background-color: white;
    }
  }
}

#contact {
  .information {
    padding-bottom: 20px;
  }
}